body {
    width: 900;
    margin: 0px 0px 1px 0px;
    padding: 0px;
    background: #aaa;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #fff;
}

canvas {
    border-style: solid;
    border-width: 3px;
    border-color: #ddd;
}

/*canvas {*/
/*     image-rendering: optimizeSpeed;             */
/*    image-rendering: -moz-crisp-edges;          */
/*    image-rendering: -webkit-optimize-contrast; */
                                               
/*    image-rendering: -o-crisp-edges;            */
/*    image-rendering: optimize-contrast;        */
/*    -ms-interpolation-mode: nearest-neighbor; */
/*}*/